/* reset */
*{ 
    margin: 0px;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color: currentColor;
}
/****************************** Inicio css *********************************/



@media only screen and (max-width: 600px) and (max-height: 1000px){
    body{
        color: white;
        background-color: rgb(33, 24, 46);
        padding-top: 3%;
        padding-left: 4%;
        padding-right: 4%;
    }
    .e1{
        display: flex;
        flex-direction: column;
    }
    .e2a{
        font-size: 18px;
        font-family: 'Lobster', cursive;
        display: grid;
        grid-template-columns: 70%;
        grid-template-rows: 40px 40px;
    }
    #e4b{
        display: flex;
    }
    
    .spans{
        margin-right: 20px;
    }
    .spans:hover{
        margin-right: 20px;
        color: brown;
    }
    .e2c{
        grid-area: area2;

    }
    h1{
        font-family: 'Ubuntu';
        font-size: 20px;
        padding-top: 5%;
        font-weight: 900;
    }
    hr{
            display: block;
            border-top: 1px solid white;
            margin-top: 2%;
    }
    .blogList{

        padding-top: 10%;
        padding-bottom: 10%;
        font-family: 'Ubuntu';
    }
    .artList{
    padding-bottom: 5%;
    }
    .artList:hover{
        padding-bottom: 5%;
        color: brown;
    }
    .artTitle {
        padding-bottom: 2%;
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .artTime{
        font-size: 12px;
    }






    .e2d{
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
        border-top: 1px solid white;
        grid-area: area3;
    }
    .e3d{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 10px;
        color: rgb(192, 152, 236);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0.025em;
        display: flex;
        justify-content: center;
        margin-bottom: auto;
    }
}
@media only screen and (min-width: 600px){
    
    body{
        color: white;
        background-color: rgb(33, 24, 46);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 94% 3%;
        grid-template-areas: "area1" 
                            "area2" 
                            "area3";
    }

    .e2a{
        background-color: rgb(33, 24, 46);
        padding-top: 1%;
        padding-left: 2%;
        font-size: 20px;
        font-family: 'Lobster';
        display: flex;
        justify-content: space-between;
        grid-area: area1;
        position: sticky;
        top:0px;
    }

    #e4b{
        
        display: flex;
        flex-direction: row;
    }
    #home:hover{
        color: brown;
    }
    .spans{
        margin-right: 20px;
    }

    .spans:hover{
        margin-right: 20px;
        color: brown;
        animation: pulse; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
    }
    .e2c{
        padding-left: 25%;
        padding-right: 25%;
        grid-area: area2;

    }
    h1{
        font-family: 'Ubuntu';
        font-size: 22px;
        padding-top: 5%;
        font-weight: 900;
    }
    hr{
            display: block;
            border-top: 1px solid white;
            margin-top: 2%;
    }
    .blogList{

        padding-top: 5%;
        padding-bottom: 5%;
        font-family: 'Ubuntu';
    }
    .artList{
    padding-bottom: 3%;
    }
    .artList:hover{
        padding-bottom: 3%;
        color: brown;
    }
    .artTitle {
        padding-bottom: 1%;
        font-size: 18px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .artTime{
        font-size: 15px;
    }





    .e2d{
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
        border-top: 1px solid white;
        grid-area: area3;
    }
    .e3d{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 11.5px;
        color: rgb(192, 152, 236);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0.025em;
        display: flex;
        justify-content: center;
        margin-bottom: auto;
    }
}
@media only screen and (min-width: 1023px) {

    body{
        color: white;
        background-color: rgb(33, 24, 46);
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3% 94% 3%;
        grid-template-areas: "area1" 
                            "area2" 
                            "area3";
    }

    .e2a{
        padding-top: 1%;
        padding-left: 2%;
        font-size: 22px;
        font-family: 'Lobster';
        display: flex;
        justify-content: space-between;
        grid-area: area1;
        position: sticky;
        top:0px;
    }

    #e4b{
        display: flex;
        flex-direction: row;
    }
    #home:hover{
        color: brown;
    }
    .spans{
        margin-right: 20px;
    }

    .spans:hover{
        margin-right: 20px;
        color: brown;
        animation: pulse; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 2s; /* don't forget to set a duration! */
    }
    .e2c{
        padding-left: 25%;
        padding-right: 25%;
        grid-area: area2;

    }
    h1{
        font-family: 'Ubuntu';
        font-size: 35px;
        padding-top: 5%;
        font-weight: 900;
    }
    hr{
            display: block;
            border-top: 1px solid white;
            margin-top: 2%;
    }
    .blogList{

        padding-top: 5%;
        padding-bottom: 5%;
        font-family: 'Ubuntu';
    }
    .artList{
    padding-bottom: 3%;
    }
    .artList:hover{
        padding-bottom: 3%;
        color: brown;
    }
    .artTitle {
        padding-bottom: 1%;
        font-size: 22px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .e2d{
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
        border-top: 1px solid white;
        grid-area: area3;
    }
    .e3d{
        padding-top: 2%;
        padding-bottom: 2%;
        font-size: 13px;
        color: rgb(192, 152, 236);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0.025em;
        display: flex;
        justify-content: center;
        margin-bottom: auto;
    }
}



