
.pan{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border: black 0.2rem solid;
}
.fuente-receta{
    color: white;
    font-family: "Ubuntu", sans-serif;
    text-align: justify;
    font-size: 22px;
    padding-top: 5%;
    line-height: 1.5rem;
    padding-bottom: 2%;
}