.bg-white.rounded.text-center.p-5.shadow-down{
    padding-top: 4%;
}
.text:hover{
    color: brown;
}
.e3d-:hover{
    color: brown;
}
.e3a:hover{
    color: brown;
}
.redex:hover{
    color: darkgrey;
}
.titulo-contacto{
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    margin-bottom: 1%;
    padding-top: 20%;
    font-weight: 700;
}
