/* reset */
*{ 
    margin: 0px;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color: currentColor;
}
/****************************** Inicio css *********************************/

body{
    color: white;
    background-color: rgb(33, 24, 46);
    display: block;
    padding-top: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
}

@import "_header.scss";

@import "_main.scss";

@import "_footer.scss";

@import "_blog.scss";

@import "_porfolio.scss";

@import "_contacto.scss";

@import "_social.scss";


